
<div class="row">

  <% @products.each do |product| %> <!--current_userの定義文はどこ？-->
    <div class="col s12 m6 l3">

      <div class="card">

        <div class="card-image">
          <%= image_tag product.avatar %>
        </div>

        <div class="card-content">
          <span class="card-title"><%= product.name %></span>
            <!-- <% reviews = current_user.reviews.uniq %> -->
            <% @reviews.each do |review| %>
            <p><%= review.comment %> <%= review.updated_at %></p>
            <% end %>
        </div>

      </div>

    </div>
  <% end %>
</div>


